.section {
  padding: 1.5rem;
}

.column {
  padding: 1rem;
}

.footer.footer.is-center {
  padding: 3rem 1.5rem;
}

div.notification {
  padding: .5rem 1.5rem;
  border-radius: 0;
  font-size: 14px;
  margin: 0px;
}

.notification:not(:last-child) {
  margin-bottom: 0px;
}

.navbar-start {
  flex-grow: 1; 
  justify-content: center;
}

.navbar-item-centered {
  flex-grow: 1; 
  justify-content: center;
}

a.navbar-item {
  padding: 0.5rem 1.5rem;
}

h1.title {
  padding-top: 10px;
}

h2.subtitle{
  padding-bottom: 8px;
}

div.column.is-full {
  padding: 16px 20px;
}

div.card-content {
  padding: 20px;
}

.has-object-centered {
  margin-left: auto;
  margin-right: auto;
}